@model IEnumerable<DAS.Models.MASTER_MEDIA_AGENCY>
@{
    if (Session["account"] == null)
    {
        Response.Redirect("~/Home");
    }
}
<title>Media Agency Ekle</title>
<h4>Media Agency Ekle</h4>
<hr />
<div class="row">
    <div class="col-md-5">
        <div class="card card-primary">
            <div class="card-header">
            </div>
            @using (Html.BeginForm())
            {
                <form role="form">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Name:</label>
                            <input type="text" class="form-control" id="grup" name="name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Type:</label>
                            <input type="text" class="form-control" id="grup" name="type">
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Ekle</button>
                    </div>
                </form>
            }
        </div>
    </div>
</div>